:root{
    --primary-color:aqua;
    --secondary-color:red;
    --last-color:blue;

}






#parent{
    width: 100%;
    height: 500px;
    border: 1px solid gray;
    display: grid;
    background-color: rgb(43, 162, 134);
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
#parent>div{
    /* width: 200px;
    height: 200px; */
    border: 1px solid gray;
    background-color: aqua;
    /* gap: 12px;
*/
}
#child1{
    background-color:var(--primary-color);
    grid-area: 1/1/1/3;
 }
#child4{
    background-color:var(--secondary-color);
    grid-area: 2/1/4/2;
}
#child5{
    grid-area: 2/2/4/4;

}
#child6{
    grid-area: 2/4/3/5;
}
#child7{
    grid-area: 3/4/4/5;
}
@media (max-width:400px){
    #parent{  
        grid-template-columns: repeat(2,1fr);
        background-color: #010101;
        
    }
}
